*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}



/* header start */

.header{
    background-color: #185cfc;
}

.header-nav{
    display: flex;
    align-items: center;

    justify-content: space-around;

}

.hamberger-menue{
    display: none;
}

/* ul */
.nav-header-list{
    list-style: none;

    display: flex;

    /* justify-content: space-between; */
}

.more:hover .sublist{
    display:flex;

    flex-direction: column;

    justify-content: space-around;

    background-color:white;
    color: black;
    border-radius: 0.5em;
    padding: 10px;
}


.sublist{
    list-style: none;
    position: absolute;
    display: none;
}

.sublist li{
    padding: 10px;
}

.nav-header-list li{
    padding-left: 20px;
}

.nav-header-list a{
    text-decoration: none;
    color: white;
}

.nav-right{
    display: flex;
    padding: 20px;

    align-items: center;

}

.nav-right a{
    text-decoration: none;
    color: white;

    padding-right: 20px;

}

.nav-right button{
    color: white;
    background-color: #58678b;
    padding: 5px 15px;
    border: none;
    background-color: #2786ff;
    border-radius: 0.5em;
}



.center-header-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-body{
    height: 50vh;
    color: white;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;

    width: 50%;

}

.header-body h1{

    font-size: 45px;

    padding-bottom: 20px;
}

.header-body p{
    font-size: 18px
}

/* header end */



/* main start */

.main-nav{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;

}

.main-nav-list{
    list-style: none;

    display: flex;

    justify-content: space-around;
    align-items: center;

    width: 70%;

}

.card-img{
    width: 100%;
    height: 35%;

    border-radius: 10px;
}

.main{
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.cards-container{
    display: flex;

    justify-content: center;
    align-items: center;

    width: 80%;

}

.card{
    /* border: 2px solid red; */

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 20%;
    /* height: 50%; */

    padding: 10px;
    gap: 10px;
}


/* main end */



/* footer start */

.footer{
    background-color: #f4f5f8;

    display: flex;
    flex-direction: column;

    justify-content: space-around;

    height: 40vh;

}

.footer-top{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-top-left{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.footer-top-left h3{
    padding-bottom: 10px;
}

.footer-top-right{
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 10vh;

    justify-content: space-between;
}

.button-wrpper{
    position: relative;

    width: 80%;
}

.button-wrpper input{
    width: 100%;

    padding: 10px;

    border: none;
    border-radius: 0.5em;

}

.button-wrpper button{
    position: absolute;
    top: 0;
    right: 0;

    padding: 10px;


    color: white;
    background-color: #185cfc;

    border: none;
    border-radius: 0.5em;
}


.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bootom-text{
    
}

.bootom-text ul{
    list-style: none;
}

.bootom-text a{

}

.Copyright-p{
    padding-left: 10px;
}

.phone-footer{
    display: none;
}

/* footer end */



/* phones */
@media only screen and (max-width: 767px) {

    .nav-header-list{
        display: none;
    }

    .logo{
        padding:10px;
    }

    .header-nav{
        justify-content: space-around;
        width: 95%;
    }

    .hamberger-menue{
        list-style: none;
        display: flex;
    }

    .nav-right{
        display: none;
    }

    .header-body p{
        font-size: small;
    }

    .header-body h1{
        font-size: x-large;
    }

    .main-nav-list{
        display: none;
    }

    .cards-container{
        flex-direction: column;
        /* width: 90%; */
    }

    .card{
        width: 90%;
        padding-bottom: 30px;
    }

    .footer{
        display: none;
    }

    .phone-footer{
        display: flex;
        flex-direction: column;
        padding-left: 20px;

        align-items: center;

        height: 40vh;

        justify-content: space-around;

        width: 80%;

        padding-bottom: 30px;
    }

    .phone-footer h3{
        padding-bottom: 20px;
    }

    .phone-footer-center{
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-top: 10px;

    }

    .button-wrpper{
        padding-bottom: 30px;
    }

    .footer-top-right{
        width: 80%;
    }

    .sublist{
        width: 30%;
    }

}
